*{
    font-family: 'Sarabun', sans-serif;
    font-size: 16px;
}
body{
    width: 100%;
    margin: 0;
    padding: 50px 0;
    display: flex;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    background: rgb(253, 253, 253);
    flex-direction: column;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.form{
    box-shadow: 0px 0px 1px rgba(0, 0, 0, .3);
    padding: 40px;
    padding-top: 10px;
    width: calc(500px - 80px);
    background: white;
    position: relative;
    max-height: 100%;
}
select{
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    width: 100%;
}
input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    width: calc(100% - 10px);
    outline: none;
}
.time{
    width: 100px;
    text-align: center;
}
.name{
    width: calc(100% - 10px);
}
.btn{
    border: 0;
    border-radius: 5px;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    background: rgb(255, 196, 0);
    color: white;
    outline: none;
}
.btn:hover{
    background: rgb(228, 175, 0);
}
.btn-delete{
    background: rgb(255, 0, 55);
}
.btn-delete:hover{
    background: rgb(230, 31, 74);
}

/* nav */
.nav{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}
a{
    background: white;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 5px;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    font-size: 14px;
}
a.active{
    background:rgb(255, 196, 0);
    color: white;
}
a:hover:not(a.active){
    background: rgb(230, 230, 230);
}

.loader {
    display: none;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}
.loader2 {
    display: none;
    position: absolute;
    left: calc(50% - 87.5px);
    top: calc(50% - 87.5px);
    border: 15px solid #f3f3f3;
    border-radius: 50%;
    border-top: 15px solid yellow;
    width: 160px;
    height: 160px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width: 420px){
    .container{
        width: 100%;
        margin: 0;
    }
    .form{
        padding: 20px;
        width: calc(100% - 40px);
    }
}